.Focus-Page{
  width: 100%;
  min-height: 100vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Focus-Container{
  width: 400px;
  min-height: 300px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Focus-label{
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.Focus-Invalid{
  display: none;
  color: red;
  font-size: 16px;
  font-family: monospace;
}

.Focus-Btn{
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

