.Scroll-Page{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(220, 240, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Scroll-Btns{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 21px;
  font-weight: bold;
}

.Scroll-Btn{
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Section-A{
  background-color: red;
}
.Section-B{
  background-color: green;
}

.Section-C{
  background-color: blue;
}

.Scroll-Content{
  margin-top: 40px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Scroll-Content h1{
  font-size: 48px;
  color: white;
}

.Top{
  background-color: black;
}