.Otp-Page{
  width: 100%;
  min-height: 100vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Otp-Container{
  width: 400px;
  min-height: 300px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Otp-Inputs{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 10px;
}

.Otp-Input{
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
}

.Otp-Btn{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}