.Card-Page{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(112, 198, 244);
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.Card-Content{
  width: 300px;
  min-height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  position: relative;
}

.Card-Header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Card-Header h1{
  font-size: 24px;
  margin: 0;
}

.Card-Header button{
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
}

.Card-DropDown{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100px;
  top: 300px;
  right: 780px;
  padding: 10px;
  background-color: rgb(195, 96, 241);
  border: 1px solid #ae6bf5;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
  z-index: 2;
}

.Card-Link{
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.Card-Link:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}

.Tooltip-Btn{
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Tooltip-Content{
  display: none;
  position: absolute;
  top: 125px;
  left: 140px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.Tooltip-Btn:hover + .Tooltip-Content{
  display: block;
}

.Overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}