.Watch-Page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #f9e3e3;
}

.Watch-Content{
  width: 400px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Watch-Title{
  color: rgb(73, 8, 134);
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
}

.Watch-Time{
  font-size: 58px;
  font-weight: bold;
  margin-top: 40px;
}

.Watch-Btns{
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.Watch-Btn{
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Start{
  background-color: green;
}
.Stop{
  background-color: red;
}
.Reset{
  background-color: blue;
}

.Watch-Input{
  margin-top: 20px;
  padding: 6px;
  font-size: 16px;
  width: 120px;
}

#timeUnit{
  margin-left: 10px;
  padding: 7px;
  font-size: 16px;
}

.timeUnit-Btn{
  margin-left: 10px;
  padding: 8px 15px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.timeUnit-Btn:active{
  transform: scale(0.9); 
}

.tstart{
  background-color: rgb(0, 128, 0);
}
.tstart:hover{
  opacity: 0.8;
}
.treset{
  background-color: rgb(204, 44, 44);
}
.treset:hover{
  opacity: 0.8;
}

.Watch-Header{
  display: flex;
  font-size: 35px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.Watch-Mode-Btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.Watch-Mode-Btn{
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(180, 106, 180);
  transition: background-color 0.3s ease;
}

.Watch-Mode-Btn:hover{
  background-color: purple;
}

.Watch-Mode-Btn:active{
  transform: scale(0.9);
  background-color: rgb(75, 0, 130);  
}